__pycache__/
logs/*
tmp/*
*.pyc
*.pyo
*.pyd
*.sqlite3
.DS_Store
.env
.env.*rc
.idea/
.vscode/
.venv/
migrations/
*.log
*.sqlite
instance/
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
.tox/
.ipynb_checkpoints/
celerybeat-schedule